.container{
    background-color: bisque;
    height: 580px;
}
.container h1{
  text-align: center;
  font-size:40px;

}
.box{
    background-color:white;
    border:2px solid cyan;
    width: 800px;
    height:260px;
    border-radius: 40px;
    margin:40px 0 0 155px;
    margin: auto;
}
.box .content{
    max-width: 25px 0 0 40px;
    margin-left: 35px;
    margin-top: 35px;
}
/* age and Gender*/
.content .firstline{
    display: flex;
    font-size: 30px;
    vertical-align: middle;
    margin-left: 50px;
}
/*Age*/
.box .content .age .text-input{
    border-radius:13px;
    padding-bottom: 10px;
    width:55px;
    vertical-align: bottom;
    font-size: 25px;
    
}

/*Gender*/
.content .firstline .gender{
    margin-left:95px;
    display: flex;

}
.content .firstline .women{
    margin-left:50px;
}

/*For height and weight*/

.content .secondline{
    display: flex;
    font-size: 30px;
    vertical-align: middle;
    margin-left: 50px;
    margin-top: 50px;
}
.content .secondline .inputH .text-input{
    border-radius:13px;
    padding-bottom: 10px;
    width:55px;
    vertical-align: bottom;
    font-size: 25px;
    
}
.content .secondline .inputW{
    margin-left:50px;
}
.content .secondline .inputW .text-input{
    border-radius:13px;
    padding-bottom: 10px;
    width:55px;
    vertical-align: bottom;
    font-size:25px;
}
.text-input{
    background-color: #d4f1f9;
}

/*For submit button*/
.sub{
    margin:30px;
    padding-left:15.3rem ;
}
.calculate{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: deepskyblue;
    border: none;
}
.sub .calculate:hover{
    background: #0044ff;
}

/*For result*/
.res{
    text-align: center;
    font-size: 30px;
}

.res #result{
    border:2px solid gray;
    border-radius:10px;
   
    background-color: teal;
    width: 10%;
    
    margin: 0 auto;
}
.comment{
    color:red;
}

/*For Modal*/
.modal{
    display: none;
    padding-top: -16px;
    position: relative;
    left: 0px;
   
    width: 475px;
    
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    /* padding-top: 0px; */
    /* padding-bottom: 3px; */
    margin-bottom: 26px;
    bottom: 108res;
    /* top: -671px; */
    margin-left: 233px;
    bottom: 33.93rem;
}

/*For Modal content*/
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    border-radius: 18px;
    box-shadow: #393c76 1px 2px 2px 1px;
}
#modalText{
    padding-top:8px ;
    padding-right: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(23,23,23);
}
.modal-wrong {
    border: 2px solid red;
    }
    
    .modal-correct {
      border: 2px solid green;
      }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s;
    }
    
    .close:hover {
      color: #d41111; 
    }

    